[submodule "TanStack-Assign-Jayati"]
	path = TanStack-Assign-Jayati
	url = git@github.com:jayatineema/TanStack-Assign-Jayati.git
[submodule "interceptor-assign"]
	path = interceptor-assign
	url = git@github.com:jayatineema/interceptor-assign.git
[submodule "debugging-ref---asiig"]
	path = debugging-ref---asiig
	url = git@github.com:jayatineema/debugging-ref---asiig.git
[submodule "React-assign"]
	path = React-assign
	url = git@github.com:jayatineema/React-assign.git
